.modalContent {
  height: 100%;

  .title {
    font-size: 20px;
    line-height: 16px;
    color: #333333;
    height: 95px;
    padding: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.16);

    span {
      margin-right: 100px;
    }


    .input {
      width: 300px;
    }
  }

  .templateList {
    display: flex;
    justify-content: flex-start;
    height: calc(100% - 95px);
  }

  .left {
    width: 265px;
    flex-shrink: 0;
    border-radius: 12px 0 0 12px;
    padding: 30px 20px;
    border-right: 0.5px solid rgba(0, 0, 0, 0.16);

    .menu {
      background-color: rgba(0, 0, 0, 0);
      border: none;
      font-size: 18px;

      :global {
        .ant-menu-item {
          height: 44px;
          line-height: 44px;
        }

        .ant-menu-item.ant-menu-item-selected {
          background-color: #1A8BFE;
          color: #ffffff;
        }
      }
    }
  }

  .right {
    position: relative;
    padding: 20px;
    width: 100%;

    .preview {
      font-size: 16px;
      color: #9E9E9E;
    }

    .templateContent {
      margin-top: 20px;
      font-size: 20px;
      font-weight: 500;

      span {
        color: #FF8F1F;
      }
    }

    .control {
      position: absolute;
      right: 20px;
      bottom: 20px;
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }

}

.modal {
  :global {
    .ant-modal-content {
      padding: 0;
    }
  }
}
